@keyframes blink {
  50% {
    opacity: 0;
  }
}

.starBackGround{
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}