.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  border: 1px solid rgba($color: #000000, $alpha: 0.1);
  overflow: hidden;
  width: 100%;
}

.cardImg {
  width: 100%;
  &>img {
    width: 100%;
  }
}

.cardTxt {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 90%;

  &>p {
    margin-bottom: 10px;
  }
}

.cardBtn{
  width: 100%;
  display: flex;
  gap: 5px;
}

.cardLink{
  border: 1px solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  width: 100%;
}
