.about{
  display: flex;
  gap: 10px;
  align-items: center;

  &>div{
    width: 50%;

    &>img{
      width: 100%;
    }
  }
}

.aboutTxt{
  &>h2{
    margin-bottom: 20px;
    font-size: 34px;
    text-align: center;
    font-weight: bold;
  }
}

.gaugeBarGridOne{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;

  &>h3{
    margin: 0;
  }

  &>span{
    margin: 0;
  }
}

@media (max-width: 767px) {
  .about{
    flex-direction: column;
    
    &>div{
      width: 100%;
  
      &>img{
        width: 100%;
      }
    }
  }
}