.portTxt{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  text-align: center;

  &>p{
    font-size: 32px;
    margin-bottom: 10px;
  }

  &>span{
    font-size: 32px;
  }
}

#typing {
  border-right: .1em solid black;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 499px) {
  .portTxt{
    &>p{
      font-size: 20px;
      margin-bottom: 5px;
    }

    &>span{
      font-size: 20px;
    }
  }

  .typingCursor{
    font-size: 20px;
  }
}