.port{
  position: relative;
}

.portTxt{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  text-align: center;

  &>p{
    font-size: 32px;
    margin-bottom: 10px;
  }

  &>span{
    font-size: 32px;
  }
}

#typing {
  border-right: .1em solid black;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 767px) {
  .portTxt{
    width: 100%;
    &>p{
      font-size: 24px;
    }
  
    &>span{
      font-size: 24px;
    }
  }
}

@media (max-width: 499px) {
  .portTxt{
    &>p{
      font-size: 20px;
    }
  
    &>span{
      font-size: 20px;
    }
  }
}