.workGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.work{
  &>h1{
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  .workGrid{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 499px) {
  .workGrid{
    grid-template-columns: 1fr;
  }
}