@import '/styles/pages/about.scss';
@import '/styles/pages/contact.scss';
@import '/styles/pages/main.scss';
@import '/styles/pages/sideproject.scss';
@import '/styles/pages/work.scss';
@import '/styles/reset.scss';
@import '/styles/components/template/layoutComponents/footer.scss';
@import '/styles/components/template/layoutComponents/header.scss';
@import '/styles/components/mocules/jobCard.scss';
@import '/styles/components/mocules/aboutCard.scss';
@import '/styles/components/atoms/spiner.scss';
@import '/styles/components/organism/sandEmail.scss';
@import '/styles/components/atoms/parallax.scss';
@import '/styles/components/atoms/mouseScroll.scss';

.componentsName{
  font-size: 60px;
  color: rgb(249 247 246 / 10%);
  position: fixed;
  top: 10%;
  left: 15%;
}

section{
  padding-top: 76px;
  margin: 0 auto;
}

.privacy-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  z-index: 2;
}

@media (max-width: 499px) {
  .componentsName{
    font-size: 36px;
  }
}

