@import '/styles/reset.scss';
@import '/styles/components/template/index.scss';
@import '/styles/components/organism/index.scss';

section{
  width: 1200px;
  height: 100vh;
  background-color: beige;
}
